.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  background-image: linear-gradient(175deg, rgb(27, 27, 78) 35%,rgb(110, 174, 214) 80%, #ffffff calc(80% + 1px));
  display: flex;
  flex-direction: column;
  padding-top:5%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font-size: calc(4rem + 3vw);
  font-weight: 600;
  font-style: italic;
}

.App-header h5 {
  font-style: italic;
  font-size: calc(0.75rem + 1vw);
  font-weight: 300;
}

.App-header a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.App-header a:hover {
  box-shadow: inset 275px 0 0 0 #54b3d6;
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards {
  background-image: linear-gradient(-5deg, rgba(186,183,235,1) 25%,rgb(110, 174, 214) 35%, #ffffff calc(35% + 1px));
}

.finishedbooks{
  /* background: rgb(255, 255, 255); */
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  padding-top:5%;
  font-size: calc(10px + 2vmin);
  /* background-image: linear-gradient(-5deg, rgba(186,183,235,1) 5%,rgb(110, 174, 214) 80%, #ffffff calc(10% + 1px)); */

}

.tobereadbooks{
  /* background: rgb(186,183,235);
  background: linear-gradient(145deg, rgba(186,183,235,1) 0%, rgba(156,220,233,1) 100%); */
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  padding-top:5%;
  font-size: calc(10px + 2vmin);
}

.bookcard {
  background: linear-gradient(white, white) padding-box, linear-gradient(to right,#9491cd, #6cadb9) border-box;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  border: 4px solid transparent;
}